<template>
  <div>
    <p>List of pdf files</p>
    <hr/>
    <ul>
      <li v-for="pdf in pdfs" :key="pdf.id">
        <router-link v-bind:to="{path: `/file/${pdf.id}`}">
          {{pdf.filename}}
        </router-link>

        [{{pdf.notes.length}} notes]
      </li>
    </ul>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'

export default {
  name: 'files',

  computed: mapState({
    pdfs: state => state.pdfs
  }),

  methods: {
    ...mapActions(['fetchPdfs'])
  },

  async mounted () {
    await this.fetchPdfs()
  }
}
</script>
