<template>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia fuga, magnam recusandae nulla sit optio inventore molestias doloribus deserunt iusto illum, temporibus, dolor sapiente atque id sunt vitae praesentium.</p>
</template>
