<template>
  <div class="box">
    <div v-if="!!onePdf">
      <div class="pager-container">
        <div class="pager">
          <a href="#" @click.prevent="prevPage">prev</a>
          <span>{{totalPages}}/{{currentPage}} </span>
          <a href="#" @click.prevent="nextPage">next</a>
        </div>
      </div>
      <hr>
      <canvas id="pdf-canvas">
      </canvas>
    </div>
    <div>
      not found. <router-link to="/files">back to files list</router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'notes',

  data () {
    return {
      document: null,
      totalPages: 0,
      currentPage: 1,
      scale: 1,
      rendering: false
    }
  },

  computed: {
    onePdf () {
      return this.$store.state.pdfs.find(pdf => pdf.id === parseInt(this.$route.params.id, 10))
    }
  },

  methods: {
    prevPage () {
      if (this.currentPage <= 1) return
      this.currentPage--
      this.render(this.currentPage)
    },

    nextPage () {
      if (this.currentPage >= this.totalPages) return
      this.currentPage++
      this.render(this.currentPage)
    },

    render (pageNumber) {
      this.rendering = true
      this.document.getPage(pageNumber).then((page) => {
        const viewport = page.getViewport({scale: this.scale})
        const canvas = document.getElementById('pdf-canvas')
        const context = canvas.getContext('2d')
        canvas.height = viewport.height
        canvas.width = viewport.width

        page.render({
          canvasContext: context,
          viewport: viewport
        })
        this.rendering = false
      })
    }
  },

  async mounted () {
    const pdfjs = await import('pdfjs-dist/build/pdf')
    const pdfjsWorker = await import('pdfjs-dist/build/pdf.worker.entry')
    pdfjs.GlobalWorkerOptions.workerSrc = pdfjsWorker

    if (!this.onePdf) return

    pdfjs.getDocument(this.onePdf.filename).promise.then(doc => {
      this.totalPages = doc.numPages
      this.document = doc
      this.render(this.currentPage)
    }).catch(e => console.log(e.message))
  }
}
</script>

<style scoped>
  .box {
    margin: 0;
  }

  .pager-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .pager.span {
    padding: 50px 0;
  }

  canvas {
    width: 100%;
  }

  .rendering {
    background-color: rgba(0, 0, 0, 0.406);
  }
</style>
