<template>
  <div id="app">
      <MainLayer />
    <div v-if="loading" class="spinner-layer">
      <md-progress-spinner md-mode="indeterminate"/>
    </div>
  </div>
</template>

<script>
import MainLayer from './layers/main-layer'
import {mapState} from 'vuex'

export default {
  name: 'App',

  computed: mapState({
    loading: (state) => (state.loading)
  }),

  components: {
    MainLayer
  }
}
</script>

<style scoped>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
  }

  .spinner-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.2);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>
